<%- include header.ejs %>
          
<div id="main-content">
     <div class="post">
        <div class="post-bar"></div>
        <div class="post-container">
            <div class="post-title">
                <h2>
                    <%= post.title %>
                    <% if(user) { %>
                    <a data-toggle="tooltip" title="收藏"><i class="glyphicon glyphicon-star"></i></a>
                    <a href="/edit/<%= post._id %>/" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="/delete/<%= post._id %>" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-trash"></i></a>
                    <% } %>
                </h2>

            </div>
            <div class="post-content"><%- post.post %></div>
            <div class="post-footer">
                <% if (post.room === 'Study') { %> 
                <a href="/<%= post.room %>" class="post-room btn btn-primary"><%= post.room %></a>
                <% } else if (post.room === 'Kitchen'){ %>
                <a href="/<%= post.room %>" class="post-room btn btn-fresh"><%= post.room %></a>
                <% } else if (post.room === 'Living') { %>
                <a href="/<%= post.room %>" class="post-room btn btn-info"><%= post.room %></a>
                <% } else if (post.room === 'Yard') { %>
                <a href="/<%= post.room %>" class="post-room btn btn-success"><%= post.room %></a>
                <% } %>

            </div>              
        </div>
        <div class="post-time">
            <div class="post-time-day"><%= post.time.day %></div>
            <div class="post-time-month"><%= post.time.month %></div>
            <div class="post-time-year"><%= post.time.year %></div>
        </div>
    </div>   
    <div class="comment">
        <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: 
            EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
            https://disqus.com/admin/universalcode/#configuration-variables
            */

            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; 
            // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//syleestu.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
             </script>
             <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          </div>      
</div>

<%- include footer.ejs %>