<%- include header.ejs %>

<div id="main-content">
    <form id="edit-holder" action="/edit/<%= post._id %>" method="POST">
        <div class="form-group">
            <input type="text" name="title" class="form-control edit-title" value="<%= post.title %>" placeholder="Add Your Post Title Here" disabled>
        </div>
        <div class="form-group">
            <select name="room" class="form-control edit-room" disabled>
                <option value="Study">Study</option>
                <option value="Kitchen">Kitchen</option>
                <option value="Living">Living</option>
                <option value="Yard">Yard</option>
            </select>
        </div>
        <div class="form-group">
            <ul class="nav nav-tabs edit-header" role="tablist">
                <li class="active" role="presentation">
                    <a href="#edit" role="tab" data-toggle="tab">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit this Article
                    </a>
                </li>
                <li role="presentation">
                    <a id="edit-preview" href="#preview" role="tab" data-toggle="tab">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Preview changes
                    </a>
                </li>
                <div class="edit-header-actions">
                    <span id="upload-img" data-toggle="tooltip" data-original-title="上传图片" class="glyphicon glyphicon-picture"></span>
                </div>
            </ul>
            <div class="edit-content tab-content">
                <textarea id="edit" class="form-control tab-pane active" rows="12" name="post" placeholder="Add Your Post Content Here"><%- post.post %></textarea>
                <div id="preview" class="tab-pane"></div>
            </div>
        </div>
        <div class="edit-button">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </div>
    </form>
    <form id="upload" action="http://uppsc.imgapi.com/" enctype="multipart/form-data" method="POST" style="display: none">
        <input type="hidden" name="Token" value="c483c34b16d6077e511267296af11f588c37ee48:TUZiUWcyR1ZIWS1FUENyRlBpYlNyWVJoQjVFPQ==:eyJkZWFkbGluZSI6MTQ2Mjk0NDE4OSwiYWN0aW9uIjoiZ2V0IiwidWlkIjoiNTY0MzM0IiwiYWlkIjoiMTIxOTE4MyIsImZyb20iOiJ3ZWIifQ==">
        <input type="file" id="choose-img" multiple name="img">
        <input type="submit" id="submit-img">
    </form>
    <iframe id='frameFile' name='frameFile' style='display: none;'></iframe>
</div>
<%- include footer.ejs %>