<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="ShinyLee's Personal Blog">
    <meta name="author" content="ShinyLee">
    <meta name="keyword" content="ShinyLee blog">   
    <title>Shiny's Blog </title>
    <link href="/images/icon.ico" rel="icon">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/monokai-sublime.css" rel="stylesheet" >
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
      <%- include modal.ejs %>
      <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
               <div class="navbar-header">
                  <div class="navbar-brand">
                      <a href="/"><span>S</span>hiny's Blog</a>
                  </div>
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-room" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="nav-room" >
                  <ul class="nav navbar-nav">
                      <li>
                          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                              <span class="glyphicon glyphicon-cog"></span>
                          </a>
                          <ul class="dropdown-menu">
                              
                              <% if(!user) { %> 
                              <li><a class="active-login" href="#">后台管理</a></li>
                              <% } else { %>
                              <li><a href="/logout">登出</a></li>
                              <% } %>
                          </ul>
                      </li>
                      <li><a href="/">首页</a></li>
                      <li>
                          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">工具
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="http://www.color-hex.com/" target="_blank">Color-Palette</a></li>
                              <li><a href="https://jsfiddle.net/" target="_blank">Jsfiddle</a></li>
                              <li><a href="http://jamus.co.uk/demos/rwd-demonstrations/" target="_blank">响应式设计测试</a></li>
                              <li><a href="https://markdown-it.github.io/" target="_blank">Markdown语法</a></li>
                              <li><a href="http://ip.taobao.com/index.php" target="_blank">淘宝IP地址库</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="http://www.bootcdn.cn/" target="_blank">BootCDN</a></li>
                              <li><a href="http://nodeframework.com/" target="_blank">NodeFrameWork</a></li>
                              
                          </ul>
                      </li>
                      <li>
                          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">分类
                              <span class="caret"></span>
                              <span class="sr-only">Toggle Dropdown</span>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="/study">书房</a></li>
                              <li><a href="/kitchen">美食</a></li>
                              <li><a href="/living">生活</a></li>
                              <li><a href="/yard">杂谈</a></li>
                          </ul>
                      </li>
                      <li><a href="https://github.com/ShinyLeee" target="_blank">Github</a></li>
                  </ul>
                  <form action="/search" method="GET" class="search" >
                      <input type="text" name="keyword" placeholder="搜索">
                  </form>
              </div>
          </div>
      </nav>
         
      <div class="now-page">
          <div class="locate-page">
             <p><%= channel %></p>
             <span class="line"></span>
          </div>
          <% if (success) { %>
          <div class="flash-condition alert alert-success"><%= success %></div>
          <% } %>
          <% if (error) { %>
          <div class="flash-condition alert alert-danger"><%= error %></div>
          <% } %>
          <div id="user-avatar">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src="http://i2.buimg.com/cb1ac6e096295a76.jpg" alt="avatar">
              </a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li><a href="/post">发表</a></li>
                  <li><a href="/archive">存档</a></li>
                  <li><a href="/star">收藏</a></li>
                  <li><a href="/about">关于</a></li>
              </ul>
          </div>
      </div>
      
      <div id="user">
          <div class="avatar">
              <img src="http://i2.buimg.com/cb1ac6e096295a76.jpg" alt="avatar">
          </div>
          <div class="info">
              <span>ShinyLee</span>
              <span class="line"></span>
              <ul class="user-icon">
                  <li>
                      <div id="post-length" class="user-info">0</div>
                      <span class="glyphicon glyphicon-file"></span>
                  </li>
                  <li>
                      <div class="user-info">宁波</div>
                      <span class="glyphicon glyphicon-map-marker"></span>
                  </li>
                  <li>
                      <% if (counts) { %>
                      <div class="user-info"><%= counts %></div>
                      <span id="thumb-like" class="glyphicon glyphicon-heart"></span>
                      <% } else { %>
                      <div class="user-info">0</div>
                      <span id="thumb-like" class="glyphicon glyphicon-heart-empty"></span>
                      <% } %>
                  </li>
              </ul>
          </div>
          <ul id="user-nav">
              <% if (user) { %>
              <li><a href="/post">发表文章</a></li>
              <% } %>
              <li><a href="/archive">存档</a></li>
              <li><a href="/star">收藏</a></li>
              <li><a href="/about">关于</a></li>
          </ul>
      </div>
      