<%- include header.ejs %>

<div id="main-content">
    <% posts.forEach(function(post, index) { %>
    <div class="post">
        <div class="post-bar"></div>
        <div class="post-container">
            <a href="/p/<%= post._id %>" class="post-title"><h2><%= post.title %></h2></a>
            <div class="post-content"><%- post.post %></div>
            <div class="post-footer">
                <% if (post.room === 'Study') { %> 
                <a href="/<%= post.room %>" class="post-room btn btn-primary"><%= post.room %></a>
                <% } else if (post.room === 'Kitchen'){ %>
                <a href="/<%= post.room %>" class="post-room btn btn-fresh"><%= post.room %></a>
                <% } else if (post.room === 'Living') { %>
                <a href="/<%= post.room %>" class="post-room btn btn-info"><%= post.room %></a>
                <% } else if (post.room === 'Yard') { %>
                <a href="/<%= post.room %>" class="post-room btn btn-success"><%= post.room %></a>
                <% } %>
            </div>
        </div>
        <div class="post-time">
            <div class="post-time-day"><%= post.time.day %></div>
            <div class="post-time-month"><%= post.time.month %></div>
            <div class="post-time-year"><%= post.time.year %></div>
        </div>
    </div>
    <% }) %>
    <nav id="pager">
        <ul class="pager">
            <% if (isFirstPage && isLastPage) { %> 
            <li class="previous disabled"><a><span aria-hidden="true">&larr;</span> 上一页</a></li>
            <li class="next disabled"><a>下一页 <span aria-hidden="true">&rarr;</span></a></li>
            <% } else if (isFirstPage) { %>
            <li class="previous disabled"><a><span aria-hidden="true">&larr;</span> 上一页</a></li>
            <li class="next"><a href="/?p=<%= pages + 1 %>">下一页 <span aria-hidden="true">&rarr;</span></a></li>
            <% } else if (isLastPage) { %>
            <li class="previous"><a href="/?p=<%= pages - 1 %>"><span aria-hidden="true">&larr;</span> 上一页</a></li>
            <li class="next disabled"><a>下一页 <span aria-hidden="true">&rarr;</span></a></li>
            <% } else { %>
            <li class="previous"><a href="/?p=<%= pages - 1 %>"><span aria-hidden="true">&larr;</span> 上一页</a></li>
            <li class="next"><a href="/?p=<%= pages + 1 %>">下一页 <span aria-hidden="true">&rarr;</span></a></li>
            <% } %>
            
        </ul>
    </nav>
</div>

<%- include footer.ejs %>
